.nav-mobile-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  will-change: background-color, opacity;
}
.logo-hamburger-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 28px;
  padding-bottom: 0px;
}

.logo-hamburger-container__logo-image {
  //   width: 100%;
  width: 120px;
  //   clip-path: inset(0 70% 0 0); /* Initially hides 50% */
  //   transition: clip-path 0.5s ease-in-out;
}

.hamburger-toggle-btn {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  justify-content: space-evenly;
  background: none;
  border: none;

  &__bar {
    height: 1px;
    background: rgb(255, 255, 255);
    border-radius: 0px;
  }
}

.nav-mobile-list-container {
  height: 100%;
}

.nav-mobile-list {
  height: 100%;
  padding: 28px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  font-size: 32px;
  text-align: center;
}

.nav-mobile-list__item {
}

.nav-mobile-list__link {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
